# ignore a single file
--------------------
#name of file
--------------------

# ignore an entire directory
----------------------------
#/name of directory/
----------------------------

# ignore a file type
-------------------------
# *.extension
*.png
*.mp3
*.txt
-----------------------------
# add an exception (using !) to the preceding rule to track a specific file
---------------------------------
# !filename
---------------------------------
